<head>
    <link rel="stylesheet" href="/registration/style.css" data-inline>
</head>
<body>
    <div class="container">        
        <p>Hello <%= name %></p>
        <div>
            This is an awesome E-Mail and registered for my page.
        </div>
    </div>
</body>