
@keyframes fade_in {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

.animate-fade-in {
    animation-name: fade_in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes fall_in {
    from { transform: rotateX(90deg); }
    to { transform: rotateX(0deg); }
}

.animate-fall-in {
    animation-name: fall_in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    transform-origin: 0% 0%;
}

@keyframes scale_in {
    from { transform: scale(1,0); }
    to { transform: scale(1,1); }
}

.animate-scale-in {
    animation-name: scale_in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 0%;
}