.article-list
{
    .media-left
    {
        width: 100px;
        height: 100px;
        background-color: #efefef;
        border-radius: 10px;
        overflow: hidden;
    }
    a:link, a:visited, a:hover, a:active
    {
        text-decoration: none;
        color: inherit;
    }
}