@keyframes lightbox {
    from {
        background-color: rgba(0,0,0,0.0);    
    }
    to {
        background-color: rgba(0,0,0,0.8);    
    }
}

@keyframes lightbox_inner {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.lightbox
{
    background-color: rgba(0,0,0,0.8);
    animation: lightbox 0.3s ease-in-out;
    position: fixed;
    z-index: 9999;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;    

    &:hover
    {
        cursor: pointer;
    }

    .inner
    {
        width: 80vw;
        height: 80vh;
        margin: 10vw 10vh;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        animation: lightbox_inner 0.5s ease-in-out;
        opacity: 1.0;
    }

}