
@keyframes full_rotation {
    0% { 
        transform: rotate(0deg); 
        border: solid 5px rgba(128, 169, 21, 0.5);
        border-top: solid 5px transparent;
    }
    50% { 
        transform: rotate(180deg);
        border: solid 5px rgba(128, 169, 21, 1.0);
        border-top: solid 5px transparent;
    }
    100% { 
        transform: rotate(360deg);
        border: solid 5px rgba(128, 169, 21, 0.5);
        border-top: solid 5px transparent;
    }
}

.loading-spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 5px rgba(128, 169, 21, 0.5);
    border-top: solid 5px transparent;
    animation-name: full_rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: 20% auto;
}